{% extends '_base.html' %}

{% block page_title %}جزئیات کتاب {{ book.title }}{% endblock %}

{% block content %}
    <div class="container mt-3">
        <h1>{{ book.title }}</h1>
        <p>توضیحات: {{ book.description|linebreaks }}</p>
        <p>نویسنده: {{ book.author }}</p>
        <h4 class="mb-3">{{ book.price }} هزار تومان</h4>
            <div class="container mt-3 mb-3">
                <a href="{% url 'book_update' book.id %}"><button type="button" class="btn btn-info">ویرایش</button></a>
                <a href="{% url 'book_delete' book.id %}"><button type="button" class="btn btn-danger">حذف</button></a>
            </div>
        <a href="{% url 'book_list' %}">صفحه لیست کتاب ها</a>
    </div>

{% endblock content %}